.navbar {
    background-color: #19183a;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    padding: 30px; /* Aumente o padding para deixar mais espessa */
}
  
.nav-button {
    background: #EBEBEB;
    color: #19183a;
    margin: 0 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px; 
    border: 1px solid #3E4851;
}

.nav-button:hover {
    background-color: #6e6e8d;
}
