.navbar {
    background-color: #19183a;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    padding: 30px; /* Aumente o padding para deixar mais espessa */
    height: 60px; /* Adiciona uma altura fixa para a navbar */
}
  
.nav-button {
    background-color: #ffffff;
    color: #19183a;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 0.943px solid #3E4851;
    background: #EBEBEB;
    }
  
.nav-button:hover {
    background-color: #ccccff;
}
